:root{
    /* Colors */
    --text-color: rgba(41,41,41,0.95);
    --background-color: #fff1cd;
    --text-shadow: rgb(0, 0, 0, 0.8);


    /* Padding */
    --side-padding: 10rem;
    --top-padding: 1.5rem;
    --bottom-padding: 7.5rem;
    --landing-page-main-padding: var(--top-padding) var(--side-padding);
    --content-page-main-padding: var(--top-padding) var(--side-padding) var(--bottom-padding) var(--side-padding);

    /* Gap */
    --content-page-main-gap: 4.5rem;
    --landing-page-main-gap: 20svh;
    --hero-gap: 1.5rem;
    --section-gap: 2rem;
    --sub-section-gap: 1rem;
}

body{
    background-color: var(--background-color);
}

section{
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
}

.landing-page-main{
    padding: var(--landing-page-main-padding);
    display: flex;
    flex-direction: column;
    gap: var(--landing-page-main-gap);
}

.content-page-main{
    padding: var(--content-page-main-padding);
    display: flex;
    flex-direction: column;
    gap: var(--content-page-main-gap);
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--hero-gap);
    align-self: stretch;
}

.title{
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
}

.sub-section{
    display: flex;
    flex-direction: column;
    gap: var(--sub-section-gap);
}

@media (prefers-color-scheme: dark){
    :root{
        --text-color: rgba(253, 255, 246, 0.95);
        --background-color: #1f1f1f;
    }
}

@media (min-width: 1441px){
    :root{
        --side-padding: 20%;
    }
}

@media (min-width: 1099px) and (max-width: 1440px){
    :root{
        --side-padding: 10rem;
    }
}

@media (min-width: 911px) and (max-width: 1098px){
    :root{
        --side-padding: 7rem;
    }
}

@media (min-width: 767px) and (max-width: 910px){
    :root{
        --side-padding: 5rem;
    }
}

@media (max-width: 766px){
    :root{
        --top-padding: 1rem;
        --side-padding: 5vw;
        --content-page-main-gap: 3rem;
    }
}

@media (min-width: 486px) {
    h1{
        font-size: 4rem;
    }
    
    h2{
        font-size: 2.5rem;
    }
    
    h3{
        font-size: 1.75rem;
    }
    
    p{
        font-size: 1.25rem;
    }

    a::after{
        content: '';
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 100%;
        height: 0.2rem;
        box-shadow: 0 0.2rem 0.6rem var(--text-shadow);
        transform: scaleX(0);
        transform-origin: bottom;
        transition: transform 300ms ease;
    }
    
    a:hover::after{
        transform: scaleX(1);
    }
}

@media (max-width: 485px){
    :root{
        --landing-page-main-gap: 10svh;
        --content-page-main-gap: 2rem;
        --section-gap: 1rem;
        --sub-section-gap: 0.5rem;
        --hero-gap: 1rem;
    }

    #desktop-only{
        display: none;
    }
    
    .landing-page-main,
    .content-page-main{
        text-align: center;
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.25rem;
    }

    p{
        font-size: 1rem;
    }

    nav{
        position: fixed;
        bottom: 0;
        background-color: var(--background-color);
    }

    nav a{
        padding: 1rem 0;
    }

    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 1.5rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.5rem;
    margin-block: 0 !important;
    padding-inline-start: 0 !important;
    list-style: none;
}

h1, h2, h3, p{
    color: var(--text-color);
    font-family: Alice;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-block: 0 !important;
    align-self: stretch;
    flex-wrap: wrap;
}

a{
    color: var(--text-color);
    font-family: Alice;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

img{
    object-fit: contain;
    max-height: 35rem;
}

a:visited{
    color: var(--text-color);
}
