<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../libraries/jquery.js"></script>
        <script src="../scripts/include-content.js"></script>
        <div include-page="head" include-title="Sam Clemente - 404"></div>
    </head>

    <body>
        <main class="content-page-main">
            <div include-page="nav"></div>
            <div class="sub-section">
                <h2>RIP, Nothing's Here</h2>
                <p>Looks like you tried to go somewhere that didn't exist! Oops! 
                </p>
            </div>
        </main>
    </body>
</html>