<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sam Clemente - About</title>
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../libraries/jquery.js"></script>
        <script src="../scripts/include-page.js"></script>
    </head>

    <body>
        <main class="about-main">
            <div include-page="nav"></div>
            <h1>About Me</h1>
            <div class="main-section">
                <h2>General Info</h2>
                <div class="sub-section">
                    <h3>
                        Growing up, it didn’t matter what the medium was, 
                        I wanted to create things.
                    </h3>
                    <p>
                        Whether it was through sketch, music performance, 
                        composition, theater, photo, or graphic design, I 
                        was always finding new ways to create.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>
                        Once I got into high school, I really found my 
                        passion for technology and understanding how all of it worked.
                    </h3>
                    <p>
                        Through college I spent a lot of time learning about every facet 
                        of technology that I could, from programming to networking and 
                        everything in between. I worked a campus job as well as an internship 
                        where I got to work closely with multiple teams from IBM.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>
                        As I got to the end of my undergrad degree, I really started to explore 
                        the intersection of my technical and creative passions.
                    </h3>
                    <p>
                        I had been exposed to interface design from a technical standpoint 
                        during my degree as well as graphic design through school and personal 
                        exploration. In my last semester as an undergrad, I started working 
                        on an open-source project with a professor and really got the chance 
                        to explore UI and UX design as well as product management. It was here 
                        that I managed to really find the intersection of my two major passions 
                        (technology and creativity) as well as some other general interests 
                        (business and finance).
                    </p>
                </div>
            </div>
            <div class="main-section">
                <h2>A Bit More About Me</h2>
                <div class="sub-section">
                    <h3>Why Design?</h3>
                    <p>
                        You may take a look at my resume and wonder “with all of this experience 
                        in a different field, why are you applying to a job like this?” which is 
                        completely valid. I do have quite a bit of experience in other roles, but 
                        I feel design is where I am most content and the field that I will enjoy 
                        the most.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>Being a Full-Stack Designer</h3>
                    <p>
                        With that being said, all of that experience in other fields is not useless 
                        or being wasted in a design role. Like a developer who knows both frontend 
                        and backend development is considered a “full-stack developer,” I consider 
                        myself a “full-stack designer” or one who understands both the design and 
                        engineering.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>
                        Handling the Technical and Creative: Making for Effective Communication
                    </h3>
                    <p>
                        With my previous experience managing development projects and as a systems 
                        administrator I have gained experience across the entire tech stack from 
                        an understanding of APIs to networking to datacenter design. I can communicate 
                        effectively with those I interact with outside of my own team and I can design 
                        with the engineering in mind. I understand what it takes to bring the design 
                        from a few frames in Figma to a real, working product and can facilitate a 
                        two-way communication flow between engineering and design.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>
                        Understanding how People Understand
                    </h3>
                    <p>
                        I’ve got a particular ability to understand how people understand. If someone 
                        is not understanding a topic, I can figure out a new way to explain it and 
                        make sure that they understand what is going on. This allows me to work as a 
                        facilitator to more effectively open communication between teams by “translating” 
                        design speak to engineering speak.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>Putting it into Context</h3>
                    <p>
                        The fact that you are seeing this website is proof positive that I can apply the 
                        knowledge I have gained throughout these experiences to a design role. This 
                        entire portfolio was prototyped in Figma, then I wrote the code for the entire 
                        portfolio and am hosting it myself in AWS. From start to finish, this website 
                        is my own.
                    </p>
                </div>
            </div>
            <div class="main-section">
                <h2>Design Ethos</h2>
                <div class="sub-section">
                    <h3>Designing with Design Thinking</h3>
                    <p>
                        I spent quite a bit of time working with many different IBM teams and I had 
                        the opportunity to meet with many other managers and directors. One principle 
                        I was introduced to was the idea of “design thinking” which is the principle 
                        IBM has used throughout all aspects of design (and engineering) within the 
                        company.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>
                        Design Thinking: An Introduction
                    </h3>
                    <p>
                        I had the opportunity to sit in on many design thinking sessions and got to 
                        see how the whole process works from gathering requirements to coming up with 
                        solutions for the product. Design thinking has always been explained to me with 
                        this anecdote: A client says “I need an alarm clock” and then the team goes 
                        through the whole process of information and requirements gathering to come up 
                        with a solution that is “a way to wake you up in the morning;” not necessarily 
                        an alarm clock.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>
                        While this anecdote is accurate, it ignores one important piece of the puzzle: familiarity.
                    </h3>
                    <p>
                        There needs to be a balance between revolution and evolution and an empathetic 
                        connection with the client through more than just design thinking: design empathy. 
                        Sometimes people just want an alarm clock, so make the best damn alarm clock you can.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>Taking a human-first approach to design is what is going to yield the best results.</h3>
                    <p>
                        It would be the height of hubris to say that, as technologists and designers, we always 
                        know what clients want better than they know what they want. There needs to be more 
                        consideration into who the client is and figuring what is going to fit them the best. We 
                        can’t say that our revolutionary new way of getting people up in the morning is better than 
                        the tried and true alarm clock if it’s not natural to use.
                    </p>
                </div>
                <div class="sub-section">
                    <h3>
                        We have to balance revolutionary new technology with familiarity. 
                        Innovation requires people to connect with and understand new technology.
                    </h3>
                    <p>
                        This isn’t to say that we should never innovate again, we just have to pick the right time 
                        and place for that to happen. As the world depends more and more on technology, there are 
                        precedents set that can be hard to break down and they take time to do so. The iPhone wasn’t 
                        the most popular phone the day it came out, it took time to get there, but because the new 
                        interaction method was something people could understand, the touchscreen dominated the 
                        smartphone market from then on.
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>