<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sam Clemente - Blog</title>
        <link rel="stylesheet" href="../styles/style.css" />
        <script src="../libraries/jquery.js"></script>
        <script src="../scripts/include-page.js"></script>
    </head>

    <body>
        <main>
            <div include-page="nav"></div>
            <h1>Blog</h1>
            <p>Coming Soon...</p>
            <a href="blog_posts/2023_06_04_first_blog_post">First Blog Post!</a>
        </main>
    </body>
</html>
