<nav>
    <a href="/">Sam Clemente</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="../assets/resume-current.pdf" target="_blank">Resume</a></li>
        <!--<li><a href="https://www.linkedin.com/in/sam-clemente/" target="_blank">LinkedIn</a></li>
        <!--<li><a href="/blog">Blog</a></li>-->
        <li><a href="mailto:samuel@theclementes.com">Email</a></li>
    </ul>
</nav>